<template name="chooseCategories">
  <div class="container cat-paddy">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
         <img src="https://s3.amazonaws.com/robinhoodie//images/local.png" alt="local" id="local" class="img-responsive" />
         <div class="caption">
           <h4 class="aligned">LOCAL</h4>
         </div>
      </div>
    </div>
       <div class="col-sm-6 col-md-4">
         <div class="thumbnail">
           <img src="https://s3.amazonaws.com/robinhoodie//images/international.png" alt="globe" height="221" id="international" class="img-responsive" />
             <div class="caption">
               <h4 class="aligned">INTERNATIONAL</h4>
             </div>
         </div>
       </div>
           <div class="col-sm-6 col-md-4">
             <div class="thumbnail">
               <img src="https://s3.amazonaws.com/robinhoodie//images/themed.png" alt="themes" id="themed" class="img-responsive" />
                 <div class="caption">
                   <h4 class="aligned">THEMED</h4>
                </div>
             </div>
           </div>
  </div>
  </div>
</template>
